<div class="datos">
 
    <h1><p> <strong>Moneda:</strong>Dogecoin</p></h1>
    <p><img src="assets/imagenes/dogecoin.jfif"></p>
 
     <h2>Que es el Dogecoin?</h2>
     <p>Todo comenzó con una broma absurda, una sátira sobre el bitcoin que nació de "doge", uno de los memes más populares de internet.

        Al principio, nadie le prestó atención. ¿Quién iba a tomarse en serio a una criptomoneda que tenía como logo el meme de un perro japonés?
        
        Y fue motivo de risas.... hasta que terminó alcanzando cifras multimillonarias.
        
        La idea fue de Billy Markus, un programador estadounidense que trabajó como ingeniero en IBM, y Jackson Palmer, un australiano que estaba al frente del departamento de marketing de Adobe Systems.</p>
 
 </div>
