<div class="datos">
 
   <h1><p> <strong>Moneda:</strong>Bitcoin</p></h1>
   <p><img src="assets/imagenes/bitcoin.jfif"></p>

    <h2>Que es el bitcoin?</h2>
    <p>Bitcoin es una moneda virtual o un medio de intercambio electrónico que sirve para adquirir productos y servicios como cualquier otra moneda.
        Pero esta moneda es descentralizada, es decir que no existe una autoridad o ente de control que sea responsable de su emisión y registro de sus movimientos.
        Consiste en una clave criptográfica que se asocia a un monedero virtual, el cual descuenta y recibe pagos.</p>

</div>